<ion-view>
    <ion-content  overflow-scroll="true">
        <nav style='background-color: #010223;height: 30px'>
            <div class="nav-wrapper">
                <p style='color:white;text-align: center'>Comercios Amigos</p>
            </div>
        </nav>

        <div class='waves-effect waves-light' style="width:100%;padding-top: 30%;background-image:url(./img/bg1.png);background-size: cover; ">

        </div>

<div class="center row" style="margin-bottom: 0px;">
            <div ng-click="goTocustomer()" style='border-right: 1px solid #010223;color:black;border-left: 1px solid #010223;' class="waves-effect waves-dark col s3 m3">
                <i  class="material-icons" style='font-size:36px' >star</i>
                <p style='text-align: center;font-size: 11px'>Cliente</p>
            </div>
            <div ng-click="goTofavorites()" style='border-right: 1px solid #010223;color:black' class="waves-effect waves-dark col s3 m3">
                <i class="material-icons" style='font-size:36px' >local_offer</i>
                <p style='text-align: center;font-size: 11px'>Beneficios</p>
            </div>
             <div ng-click="goToCategory()" style='border-right: 1px solid #010223;color:black;border-bottom: 3px solid blue' class="waves-effect waves-dark col s3 m3">
                <i class="material-icons" style='font-size:36px' >local_dining</i>
                <p style='text-align: center;font-size: 11px'>Comercios Amigos</p>
            </div>
                <div ng-click="goToContact()" style='border-right: 1px solid #010223;color:black;' class="waves-effect waves-dark col s3 m3">
                <i class="material-icons" style='font-size:36px' >contact_mail</i>
                <p style='text-align: center;;font-size: 11px'>Contáctanos</p>
            </div>
        </div>



        <div class="animated bounceInLeft">

            <div class="section">
                <div class="center row" style="margin-bottom: 0px;">
                    <div class="col s12 m12">
                        <p style="text-align: center;margin-bottom: 0px;"><b>Promociones Destacadas</b></p>
                    </div>
                </div>
                <div class="row">
                    <div  style="overflow-x:auto;">
                        <div style="width:100%;min-width:800px;white-space: nowrap;">

                            <a href='#/app/promoDetalle' style="width:160px;float:left;display: inline-block;;margin-right:10px;margin-left:10px;" class="card z-depth-1 center">
                                <div class="waves-effect waves-light square bckCover" style="background-image:url(./promos/5r.png)">
                                    
                                </div>
                            </a>
                            <a href='#/app/promoDetalle' style="width:160px;float:left;display: inline-block;;margin-right:10px;margin-left:10px;" class="card z-depth-1 center">
                                <div class="waves-effect waves-light square bckCover" style="background-image:url(./promos/4r.png)">
                                    
                                </div>
                            </a>
                            <a href='#/app/promoDetalle' style="width:160px;float:left;display: inline-block;;margin-right:10px;margin-left:10px;" class="card z-depth-1 center">
                                <div class="waves-effect waves-light square bckCover" style="background-image:url(./promos/3r.png)">
                                   
                                </div>
                            </a>
                            <div href='#/app/promoDetalle' style="width:160px;float:left;display: inline-block;;margin-right:10px;margin-left:10px;" class="card z-depth-1 center">
                                <div class="waves-effect waves-light square bckCover" style="background-image:url(./promos/1r.png)">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center row" style="margin-bottom: 0px;">
                <div class="col s12 m12">
                    <p style='text-align: center;margin-bottom: 0px;'><b>Ciudades</b></p>
                </div>
            </div>
            <div class="center row"  style="margin-bottom: 0px;padding-bottom: 0px;">
                <a href='#/app/promo' class="waves-effect waves-light card z-depth-5 col s6 m4 bckCover" style="background-image: url(https://www.theflagshop.co.uk/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/h/o/honduras-flag-std.jpg);margin-bottom: 1px;">
                    <div class='square'>
                        <div class='fade'></div>
                        <div class="content33">
                            Nivel País
                        </div>
                    </div>
                </a>
              
                <a href='#/app/promo' class="waves-effect waves-light card z-depth-5 col s6 m4 bckCover" style='background-image: url(http://cdn.latribuna.hn/wp-content/uploads/2015/06/ANIVERSARIO-JUTICALPA-2.jpg);margin-bottom: 1px;' > 
                    <div class='square'>
                        <div class='fade'></div>
                        <div class="content33">
                            Juticalpa
                        </div>
                    </div>
                </a>
            </div>
            <div class="center row" style='margin-bottom: 0px;padding-bottom: 0px;'>
                <a href='#/app/promo' class="waves-effect waves-light card z-depth-5 col s6 m4 bckCover" style="background-image:url(http://www.danlicompite.org/wp-content/gallery/danli-fotografias/panorama-de-danli1.jpg);margin-bottom: 1px;" >
                    <div class='square'>
                        <div class='fade'></div>
                        <div class="content33">
                            Danlí
                        </div>
                    </div>
                </a>
                <a href='#/app/promo' class="waves-effect waves-light card z-depth-5 col s6 m4 bckCover"  style="background-image: url(http://www.primiciahonduras.hn/wp-content/uploads/2017/06/siguatepeque-1-660x330.jpg) ;margin-bottom: 1px;" >
                    <div class='square'>
                        <div class='fade'></div>
                        <div class="content33">
                            Siguatepeque
                        </div>
                    </div>
                </a>
            </div>
            <div class="center row" style='margin-bottom: 0px;padding-bottom: 0px;'>
                <a href='#/app/promo' class="waves-effect waves-light card z-depth-5 col s6 m4 bckCover" style="background-image: url(http://radioamericahn.net/imag/2015/04/PARQUE-DE-SANTA-ROSA-DE-COPAN.jpg);margin-bottom: 1px;">
                    <div class='square'>
                        <div class='fade'></div>
                        <div class="content33">
                            Santa Rosa de Copán
                        </div>
                    </div>
                </a>
                <a href='#/app/promo' class="waves-effect waves-light card z-depth-5 col s6 m4 bckCover"  style="background-image: url(http://www.hondurastips.hn/wp-content/uploads/2013/06/Choluteca1.jpg);margin-bottom: 1px;">
                    <div class='square'>
                        <div class='fade'></div>
                        <div class="content33">
                            Choluteca
                        </div>
                    </div>
                </a>
            </div>
              <div class="center row" style='margin-bottom: 0px;padding-bottom: 0px;'>
                 <a href='#/app/promo' class="waves-effect waves-light card z-depth-5 col s6 m4 bckCover" style='background-image: url(https://static.wixstatic.com/media/afb385_f7e9bb661e8945ad8322bbe29761a2da~mv2.jpg/v1/fill/w_784,h_441,al_c,q_90,usm_0.66_1.00_0.01/afb385_f7e9bb661e8945ad8322bbe29761a2da~mv2.webp);margin-bottom: 1px;' > 
                    <div class='square'>
                        <div class='fade'></div>
                        <div class="content33">
                            La Ceiba
                        </div>
                    </div>
                </a>
                            <a href='#/app/promo' class="col s6 m4 bckCover" > 
                    <div class='square'>
                       
                    </div>
                </a>
               
            </div>
             </div>
          
        </div>
        <br>
        <br>


       
  
        <footer class="page-footer" style='background-color: #010223; '>
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                   
                       
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © Grupo MCC
                </div>
            </div>
        </footer>

    </ion-content>
</ion-view>
