<ion-view view-title="Favoritos">
    <ion-content>
        <nav style='background-color: #ef473a;height: 30px'>
            <div class="nav-wrapper">
                <p style='color:white;text-align: center'>Gastro</p>
            </div>
        </nav>
        <div class='waves-effect waves-light' style="width:100%;padding-top: 50%;background-image:url(https://wallpaperscraft.com/image/night_city_sky_skyscrapers_79288_1920x1080.jpg);background-size: cover; ">
              <span class="new badge red" style="font-size:20px" data-badge-caption="Favoritos">Mis</span>
        </div>
        <br />
        <br />
        <div class="container">
            <iframe id="mapa" src="https://www.google.com/maps/d/u/0/embed?mid=1c8Z3xz02nlW03Mvuyo5ignmWS0I"  style="height:550px;width:100%" ></iframe>
        </div>
        <footer class="page-footer" style='background-color:#ef473a '>
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Gastro 504</h5>
                        <p class="grey-text text-lighten-4">By Stolz Engineering And Ferby Consultancy.</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2017 Gastro 504
                </div>
            </div>
        </footer>

    </ion-content>
</ion-view>
