<ion-view>
    <ion-content overflow-scroll="true" ng-init="select_comercioAmigo()">
           <link href="./Materialize - Material Design Admin Template_files/style.css" type="text/css" rel="stylesheet">
	   <div class="section no-pad-bot" id="index-banner" style="padding-top:0px">
        <div  class="grey darken-3">
          <h1 class="header center-on-small-only" style="color:white">Comercios Amigos</h1>
           <a class="btn-floating btn-large waves-effect waves-light red" style="float:right"><i class="material-icons">add</i></a>
          <br>

        </div>
         <div class="row">
			<div class="col m2 s12" ng-repeat="c in comercioAmigo">
			<div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <p>{{c.nombre_comercio}}</p>
                     
				 <div class="row">
					<div class="col 12">
						<img src="{{c.logo_comercio}}" style="width:100%" />
					</div>				
				 </div>
              </div>
              <div class="card-action">
                <a href="#">Editar</a>
                <a href="#">Eliminar</a>
              </div>
              <div>
              </div>
            </div>
              <ul class="collapsible" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header"><i class="material-icons">location_on</i>Sitios</div>
                    <div class="collapsible-body"><span ng-repeat="p in c.places">{{p.lugar}}</span></div>
                    <div class="blue-grey darken-1 card-action" style="padding-right: 10px;padding-left: 10px;color:white;width:100%;text-align:center">
                      <a href="#"><i style="color:white;margin-top: 10px" class="material-icons">add_circle</i></a>                   
                    </div>
                  </li>
              </ul>
			</div>
			</div>
      </div>
	   
      <script type="text/javascript">
        
          $(document).ready(function() {
    Materialize.updateTextFields();
  });

      </script>

    </ion-content>
</ion-view>
